<header>
  <ul>
    <li>
      <a (click)="scrollTo(element1)">DIV 1</a>
    </li>
    <li>
      <a (click)="scrollTo(element3)">DIV 3</a>
    </li>
    <li>
      <a (click)="scrollTo(element5)">DIV 5</a>
    </li>
    <li>
      <a (click)="scrollTo(element7)">DIV 7</a>
    </li>
    <li>
      <a (click)="scrollTo(element8)">DIV 8</a>
    </li>
  </ul>
</header>

<div #element1 class="teste">
  <h1 style="color: #fff">1</h1>
</div>

<div #element2 class="teste">
    <h1 style="color: #fff">2</h1>
</div>

<div #element3 class="teste">
    <h1 style="color: #fff">3</h1>
</div>

<div #element4 class="teste">
    <h1 style="color: #fff">4</h1>
</div>

<div #element5 class="teste">
    <h1 style="color: #fff">5</h1>
</div>

<div #element6 class="teste">
    <h1 style="color: #fff">6</h1>
</div>

<div #element7 class="teste">
    <h1 style="color: #fff">7</h1>
</div>

<div #element8 class="teste">
    <h1 style="color: #fff">8</h1>
</div>

